html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

table {
    border-collapse: collapse;
}

tr:nth-child(even) {
    background: #ccc;
}

td {
    padding: 2px;
}
